
<div class="container-fluid">

  <div class="row justify-content-center">
    <div class="col-12 col-lg-10 col-xl-8">
      <div class="header mt-md-3">
        <h2 class="mb-2">Your products</h2>

      </div>

          <div class="row">
            <div class="product_list">
              <a class="product_item " href="/posts">
                <div class="icon-holder">
                  <span class="round-icon">

                      <i class="fe fe-phone"></i>


                  </span>
                </div>
                <div class="title-app">Human Resource</div>
                  <div class="desc-app">System</div>
              </a>
            </div>
          </div>
          <div class="header mt-md-3">
            <h2 class="mb-2">Activity</h2>
          </div>

        <div class="row justify-content-center">
          <div id="cal-heatmap"></div>
        </div>
    </div>




  </div>


</div>
