<nav class="navbar navbar-vertical navbar-vertical-sm fixed-left navbar-expand-md navbar-light" id="sidebarSmall">
		<div class="container-fluid">
			<!-- Brand -->
			<a class="navbar-brand" href="/">
				<%= image_tag "logo.svg", :class => "" %>
			</a>

			<!-- Collapse -->
			<div class="collapse navbar-collapse" id="sidebarSmallCollapse">

					<!-- Navigation -->
					<button type="button" class="btn btn-rounded-circle btn-white" onclick="javascript:goBackSite();"><span class="fe fe-arrow-left"></span></button>


					<!-- Push content down -->
					<div class="mt-auto"></div>

						<!-- User (md) -->
						<div class="navbar-user d-none d-md-flex flex-column" id="sidebarSmallUser">

							<!-- Dropup -->
						  <%= render "layouts/partials/navbarUser" %>
					</div>
				</div>
		</div>
</nav>

<script>

function goBackSite(){
	window.location = "/posts"
}
</script>
