<div id="navbar-sub" class="navbar-sub">
	<div class="menu">

		<hr />
	</div>
</div>

<div id="navbar-spicer" class="navbar-spicer">
</div>

<script>

	//var flex = document.getElementById("navbar-spicer");
	//var raw = document.getElementById("navbar-sub");
	//flex.addEventListener("click", function() {
	//  raw.style.display = raw.style.display == "none" ? "flex" : "none";
	//});
</script>
