<div class="sidebar-container ioMZMF ">
  <div class="left-side-menu navbar-light">

    <div class="sidebar-content ">
        <div class="sc-cpmLhU krwbFu"><div class="sc-kasBVs hGzWqW">HRMS</div></div>
        <!-- Collapse -->
        <div class="">
          <!-- Navigation -->
          <ul class="atl-navbar-nav">
            <li>
              <a class="atl-nav-link <%= controller.controller_name == "hrms" ? "active" : "" %>" href="/dashboard/hrms">
                <i class="fe fe-settings"></i> Dashboard
              </a>
            </li>
            <li class="">
              <a class="atl-nav-link <%= controller.controller_name == "users" ? "active" : "" %>" href="/hrms/employees">
                <i class="fe fe-users"></i> Employees
              </a>
            </li>
            <li class="dropright">
              <a class="atl-nav-link dropdown-toggle" href="javascript:;" id="sidebarSmallPages" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" >
                <i class="fe fe-users"></i> Organization
              </a>
              <ul class="dropdown-menu" aria-labelledby="sidebarSmallPages">
                    <li class="dropdown-header d-none d-md-block">
                      <h6 class="text-uppercase mb-0">Settings</h6>
                    </li>

                    <li>
                      <a class="dropdown-item " href="kanban.html">
                        Department
                      </a>
                    </li>
                    <li>
                      <a class="dropdown-item <%= controller.controller_name == "positions" ? "active" : "" %>" href="/hrms/positions">
                        Positions
                      </a>
                    </li>
                    <li>
                      <a class="dropdown-item " href="orders.html">
                        Company Policy
                      </a>
                    </li>
                    <li>
                      <a class="dropdown-item " href="settings.html">
                        Travel Exprense
                      </a>
                    </li>
                    <li>
                      <a class="dropdown-item " href="invoice.html">
                        Employeement Proof Letter
                      </a>
                    </li>
                    <li>
                      <a class="dropdown-item " href="pricing.html">
                        Asset form
                      </a>
                    </li>
                    <li>
                      <a class="dropdown-item " href="pricing.html">
                        Announcements
                      </a>
                    </li>
                    <li class="dropright">
                      <a class="dropdown-item dropdown-toggle " href="#" id="sidebarSmallProfile" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        More
                      </a>
                      <div class="dropdown-menu" aria-labelledby="sidebarSmallProfile">
                        <a class="dropdown-item " href="profile-posts.html">
                          Expense Submission
                        </a>
                        <a class="dropdown-item " href="profile-groups.html">
                          Organization Tree
                        </a>
                        <a class="dropdown-item " href="profile-projects.html">
                          Birthday Folks
                        </a>
                        <a class="dropdown-item " href="profile-files.html">
                          New Hires
                        </a>
                        <a class="dropdown-item " href="profile-subscribers.html">
                          Approvals
                        </a>
                        <a class="dropdown-item " href="profile-subscribers.html">
                          Analytics
                        </a>
                        <a class="dropdown-item " href="profile-subscribers.html">
                          Settings
                        </a>
                      </div>
                    </li>
                  </ul>
            </li>
            <li>
              <a class="atl-nav-link" href="/hrms/payroll">
                <i class="fe fe-briefcase"></i> Payroll
              </a>
            </li>
            <li>
              <a class="atl-nav-link" href="/hrms/leave/">
                <i class="fe fe-map-pin"></i> Leave management
              </a>
            </li>
            <li>
              <a class="atl-nav-link" href="/hrms/timesheet/">
                <i class="fe fe-map-pin"></i> Timesheet
              </a>
            </li>
            <li>
              <a class="atl-nav-link" href="/hrms/timesheet/">
                <i class="fe fe-map-pin"></i> Hiring
              </a>
            </li>
            <li>
              <a class="atl-nav-link" href="/hrms/timesheet/">
                <i class="fe fe-map-pin"></i> Reports
              </a>
            </li>
            <li>
              <a class="atl-nav-link" href="/hrms/timesheet/">
                <i class="fe fe-map-pin"></i> Files
              </a>
            </li>
          </ul>

        </div> <!-- / .navbar-collapse -->


    </div>
  </div>
</div>
