<div class="sidebar-container ioMZMF ">
  <div class="sidebar collapse">
    <div class="sidebar-content navbar-light">

      <nav class="navbar navbar-vertical atl-navbar">

            <div class="sc-cpmLhU krwbFu"><div class="sc-kasBVs hGzWqW">Profile</div></div>

            <!-- Collapse -->
            <div class="">

              <!-- Navigation -->
              <ul class="atl-navbar-nav">
                <li>
                  <a class="atl-nav-link" href="/backend/profile">
                    <i class="fe fe-settings"></i> General
                  </a>
                </li>
                <li class="">
                  <a class="atl-nav-link <%= controller.controller_name == "users" ? "active" : "" %>" href="/backend/profile/change_password">
                    <i class="fe fe-users"></i> Change Password
                  </a>
                </li>
                <li>
                  <a class="atl-nav-link" href="/backend/profile/security">
                    <i class="fe fe-briefcase"></i> Security
                  </a>
                </li>
                <li>
                  <a class="atl-nav-link" href="/backend/profile/preferences">
                    <i class="fe fe-map-pin"></i> Preferences
                  </a>
                </li>
              </ul>

            </div> <!-- / .navbar-collapse -->

          </nav>

    </div>
  </div>
</div>
