<!-- Modal: Search -->
<div class="modal fade" id="sidebarModalAdd" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-vertical " role="document">

        <div class="modal-content">
            <div class="search-box">
              <div class="search-model-left">
                <div class="container-fluit">
                  <a class="navbar-brand" href="/">
                    <%= image_tag "logo.svg", :class => "" %>
                  </a>

                  <div class="mb-4">
                    <button type="button" class="btn btn-rounded-circle btn-white" data-dismiss="modal"><span class="fe fe-arrow-left"></span></button>
                  </div>
                </div>
              </div>
              <div class="search-model-right">
                <div class="modal-body" style="padding-top:65px;">

                    <!-- List group -->
                </div>
            </div>
          </div>
        </div>

  </div>
</div>
