<!-- Modal: Search -->
<div class="modal fade" id="sidebarModalApps" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-vertical " role="document">

        <div class="modal-content">
            <div class="search-box">
              <div class="search-model-left">
                <div class="container-fluit">
                  <a class="navbar-brand" href="/">
                    <%= image_tag "logo.svg", :class => "" %>
                  </a>

                  <div class="mb-4">
                    <button type="button" class="btn btn-rounded-circle btn-white" data-dismiss="modal"><span class="fe fe-arrow-left"></span></button>
                  </div>
                </div>
              </div>
              <div class="search-model-right">
                <div class="modal-body" style="padding-top:65px;">

                    <!-- List group -->

                    <ul class="navbar-nav mb-md-3">
                        <li class="nav-item">
                          <a class="nav-link" href="/dashboard/hrms/">
                            <i class="fe fe-clipboard"></i> Хүний нөөцийн програм
                          </a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="components.html">
                            <i class="fe fe-book-open"></i> Зарлагын систем
                          </a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="changelog.html">
                            <i class="fe fe-git-branch"></i> Худалдаа
                          </a>
                        </li>
                      </ul>
                </div>
            </div>
          </div>
        </div>

  </div>
</div>
