<div class="dropright">

  <!-- Toggle -->
  <a href="#" id="sidebarSmallIconCopy" class="dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <div class="avatar avatar-online">

      <%= image_tag "avatars/profiles/avatar-1.jpg", :class => "avatar-img rounded-circle", :style => "height: 40px; width: 40px;" %>
    </div>
  </a>

  <!-- Menu -->
  <div class="dropdown-menu" aria-labelledby="sidebarSmallIconCopy">
    <a href="#" class="dropdown-item">Profile</a>
    <a href="#" class="dropdown-item">Settings</a>
    <a href="/users" class="dropdown-item">Users</a>
    <a href="/roles" class="dropdown-item">Roles</a>
    <a href="/post_comments" class="dropdown-item">Comments</a>

    <hr class="dropdown-divider">
    <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'dropdown-item'  %>
  </div>
</div>
