body {
  font-family: Cerebri Sans,sans-serif;
  font-size: .9375rem;
    font-weight: 400;
    line-height: 1.5;
    color: #12263f;
    text-align: left;
}

.modal-dialog-vertical .navbar-brand{
  margin: 0px;
  padding: 0px;
  padding-top: 20px;
  padding-bottom: 1.20313rem;
  display: block;
  text-align: center;
  > .img_preview {
    pointer-events: none;
    vertical-align: bottom;
    overflow: hidden;
    filter: brightness(0.7);
  }
}

.search-box {
  display: flex;
  flex-direction: row;
  height: 100%;
  overflow: hidden;
}

.search-model-left {
    -webkit-box-align: center;
    align-items: center;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    position: relative;
    width: 64px;
    flex: 1 0 auto;

    -webkit-box-pack: justify;
    justify-content: space-between;
    padding-bottom: calc(20px);
    height: calc(100vh - 0px);
    background: #fff;
    transition: background-color 0.3s cubic-bezier(0.2, 0, 0, 1) 0s, color 0.3s cubic-bezier(0.2, 0, 0, 1) 0s;
}

.search-model-right {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  width: 100%;
  padding: 0px;
  height: 100%;
}


.card-header {
	padding: 1rem 1.5rem;
	margin-bottom: 0;
	background-color: transparent;
	border-bottom: 1px solid #edf2f9
}
